 .fotleft a:hover{
	color: #0B0B61;
}

.footer{
    padding: 13px 0 0 0; /* Поля вокруг текста */
    text-align: center;
	color: #000	; /* Цвет текста */
    width: 100%; /* Ширина слоя */

	background-color:  #fff;
	min-width: 900px;
}

.footer h2{
	color: #fff;
}

.footer_left, .footer_center, .footer_right{
	padding-top: 7px;
}

.footer_left{
	float: left;
	width: 30%;

	
}
.fotleft{
	margin-left: 20px;
	text-align: left;
	font-size: 75%;
	padding-top: 10px;
	
}

.footer_center{
	float: left;
	width: 40%;
	
}

.fotcenter{
	padding-top: 10px;
}

.footer_right{
	float: right;
	width: 30%;
	
}
.fotright{
	float: right;
	margin-right: 20px;
	text-align: left;
	font-size: 75%;
	padding-top: 10px;
}

.footcontent{
	height: 300px;
	background-color: #0B0B61;
	background: -moz-linear-gradient(#0101DF, #0B0174);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#0101DF), to(#0B0174));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B0174', endColorstr='#EBFFFF');	

}

.footcontent h2{
	text-align: left;
	padding-bottom: 10px;
	font: normal 170% 'century gothic', arial;
}
.footcontent_size{
	
	color: #fff;
	width: 900px;
	overflow: hidden;
	margin: 0 auto 0 auto;

}

.footcontent_left{
	float: left;
	overflow: hidden;
	width: 390px;
	height: 240px;
	margin-top: 50px;
	font-size: 91%;
}

.footcontent_right{
	float: right;
	overflow: hidden;
	width: 350px;
	height: 240px;
	margin-top: 50px;
	text-align: left;
}

div.fot_bottom{
	color: #fff;
	background-color: #0B0B61;
	background: -moz-linear-gradient(#0B0174, #9289FD);
   background: -webkit-gradient(linear, 0 0, 0 130%, from(#0B0174), to(#9289FD));
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0B0174', endColorstr='#EBFFFF');
	height: 60px;
}

.img_about{
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}