.menu{
	padding-top: 10px;
}

.menu li.golovna a{
	color: #81BEF7;
}

.menubar{
	width: 900px;
	height: 40px;
    float: none;
    bottom: 10px;
    left: 10px;
    font: normal 170% 'century gothic', arial;
}
ul.menu{
	float: right;
}
ul.menu li{
	float: left;
	padding: 0 0 0 9px;
	list-style: none;
	margin: 1px 2px 0 0;
  

}

ul.menu li a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
	display: block;
	padding-left: 20px;
    padding-top: 10px;


}

ul.menu > li > a:hover{
	color: #FFFF00;

}

ul.menu li a:focus{
    color: #FFFF00;
}

.menu a {
   
    display: inline-block;
    color:#FFFF00;
    line-height: 1;
    text-decoration:none;
 	position:relative;
    transition: all 0.6s ease-out;
}
ul.menu > li > a:after {
	margin-top: 7px;
    background-color: #FFFF00;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left:60%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.menu a:hover:after,
.menu a:focus:after {
    margin-top: 7px;
    width: 85%;
}

.menu li a.current {
    color: #FFFF00;
}

.submenu {
    display:none; 
    position: absolute;  
    z-index: 200;
    padding-top: 10px;
    

}
.menubar li ul {
   width:250px;  
} 

.submenu li a{
    height: 45px;
}

.submenu li {
    z-index: 10;
    padding-top: 10px;
    margin-top: 20px;   
    float:none;
    position: relative;
    width: 242px;
    height: 45px;
    background-color: #0101DF;
    border-radius: 5px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
} 

.submenu li:hover{
    background:#A9BCF5;
    transition: all 0.4s ease-out;
    color: #000;
}

.submenu li a:hover{
    color: #000;
    transition: all 0.4s ease-out;
    height: 45px;
    width: 242px;
}


ul.menu li:hover > ul.submenu{
    display:block; 
    margin-left: 20px;
}
