

.stcnt{
	width: 650px;
	overflow: hidden;
	
	background-color: #fff;
}

.content_left{
	float: left;
	width: 650px;
	margin-bottom: 15px;
}

.main{
	overflow: hidden;
}

.content{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.side_content h1, .side_content h2{
	font: normal 170% 'century gothic', arial;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #2E64FE;
}

.side_content{
	width: 900px;
	overflow: hidden;
	margin: 20px auto 0 auto;
}

.sidebar_right{
	float: right;
	width: 246px;
}

/* ЛІВИЙ БЛОК */
.sidebar{
	float: right;
	width: 222px;
	padding: 5%;
	margin: 0 0 16px 0;
	border: 0px;
	border-radius: 5px;
	background-color: #f9f9f9;
   
	
}

.sidebar1{
	float: left;
	width: 575px;
	padding: 5%;
	margin: 0 0 16px 0;
	border: 0px;
	border-radius: 5px;
	background-color: #E6E6E6;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
	}

/* ДЛЯ РЕЄЕСТРАЦІЇ */
.sidebar2{
	float: left;
	width: 575px;
	padding: 5%;
	margin: 0 0 16px 0;
	border: 0px;
	border-radius: 5px;
	background-color: #E6E6E6;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.sidebar_error{
	float: left;
	text-align: center;
	width: 615px;
	padding: 2%;
	margin: 0 0 16px 0;
	border: 0px;
	border-radius: 5px;
	background-color: #FF0000;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}


.obov{
	font: normal 85% 'century gothic', arial;
	color: #fff;	
	opacity: 0;
	-webkit-transition: all .5s ;
	-o-transition: all .5s ;
    -transition: all .5s ;
}

